body {
  /* المطلوب الأول هنا */
  text-align: center;
  background-image: url(./img/kuwaitcodes.png);
  background-repeat: no-repeat;
  height: 100vh;
}
.card {
  /* المطلوب الثاني هنا */
  width: 400px;
  height: 500px;
  background-color: white;
  box-shadow: 10px 10px 5px gray;
  border-radius: 12px;
}

img {
  /* المطلوب الثالث هنا */
  width: 120px;
  height: 120px;
  margin-top: 20px;
  box-shadow: 10px 10px 10px gray;
  border-radius: 50%;
}

.center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

h3:hover {
  background-color:orange;
}